<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Songs Homepage - Welcome to My Music Store</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to My Music Store</h1>
    <!-- Login and Logout Buttons -->
    <div style="margin-bottom: 20px;">
        <th:block sec:authorize="isAnonymous()">
            <a href="/login" class="btn">Login</a>
        </th:block>
        <th:block sec:authorize="isAuthenticated()">
            <a href="/logout" class="btn">Logout</a>
        </th:block>
    </div>
</header>

<!-- Add button (visible only to admins) -->
<th:block sec:authorize="hasRole('ROLE_ADMIN')">
    <a href="/songs/add-form" class="btn btn-primary">Add Song</a>
</th:block>

<!-- Error Message -->
<div th:if="${error}" style="color: red;">
    <p th:text="${error}"></p>
</div>

<!-- Filter Dropdown -->
<form th:action="@{/songs}" method="get">
    <label for="albumFilter">Filter by Album:</label>
    <select id="albumFilter" name="albumId" onchange="this.form.submit()">
        <option th:value="null" th:text="'All'" th:selected="${selectedAlbumId == 'null' || selectedAlbumId == null}"></option>
        <option th:each="album : ${albums}"
                th:value="${album.id}"
                th:text="${album.name}"
                th:selected="${album.id.toString() == selectedAlbumId}"></option>
    </select>
</form>

<!-- List of Songs -->
<form th:action="@{/songs/select}" method="POST">
    <h2>Choose a Song:</h2>
    <div th:each="song : ${songs}">
        <input type="radio" name="trackId" th:value="${song.trackId}" required>
        <span th:text="${song.title}"></span> |
        <span th:text="${song.genre}"></span> |
        <span th:text="${song.releaseYear}"></span> |
        <span th:text="${song.album?.name} ?: 'No Album'"></span>
        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
             |
            <a th:href="@{/songs/edit-form/{id}(id=${song.id})}" class="btn btn-warning">Edit</a> |
            <a th:href="@{/songs/delete/{id}(id=${song.id})}" class="btn btn-danger">Delete</a>
        </th:block>
    </div>
        <input type="submit" value="Submit">
</form>
</body>
</html>
